html {
  min-height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  overscroll-behavior: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  display: flex;
  flex-direction: column;
  background: url("Images/1015944.jpg");
  background-size: cover;
}

.top {
  z-index: 1000;
  position: fixed;
}

.Navbar {
  z-index: 1000;
  top: 0;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(white, lightgrey);
  box-shadow: 0px 2px 5px 1px;
  text-align: center;
}

.headItem {
  float: left;
}

.nav {
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 0.6rem 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

#about {
  float: right;
}

.nav:hover {
  color: grey;
}

.container {
  position: relative;
  display: block;
  font-size: 10em;
  justify-content: center;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 40px;
  width: 60%;
  height: 50rem;
  background-color: rgb(60, 60, 61);
  color: aliceblue;
  box-shadow: 0px 0px 5px 1px black;
}

.container h1 {
  text-align: center;
  padding: 30px;
  font-size: 30%;
  font-style: italic;
}

.bottom {
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.footer {
  bottom: 0;
  width: 100vw;
  box-shadow: 0px -2px 5px 1px;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(white, lightgrey);
}

.foot {
  display: inline-block;
}

.Fitem {
  display: block;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.Fitem:hover {
  cursor: default;
}

#return:hover {
  cursor: pointer;
  color: grey;
}
